doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/components/angular-object-table/build/object-table-style.css')
    link(rel='stylesheet', type='text/css', href='http://getbootstrap.com/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/components/angular-xeditable/dist/css/xeditable.css')
    link(rel='stylesheet', type='text/css', href='/components/font-awesome/css/font-awesome.css')

    script(type='text/javascript',src='/components/angular/angular.js')
    script(type='text/javascript',src='/components/angular-material/angular-material.js')
    script(type='text/javascript',src='/components/angular-animate/angular-animate.js')
    script(type='text/javascript',src='/components/angular-aria/angular-aria.js')
    script(type='text/javascript', src='/components/angular-xeditable/dist/js/xeditable.js')
    script(type='text/javascript', src='/components/angular-smart-table/dist/smart-table.js')
    script(type='text/javascript',src='/javascripts/angular-app.js')
  body(layout="column" ng-app="myApp" class="md-default-theme")
    block content
